.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 50vw;
  height: 50vh;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 700;
  backdrop-filter: blur(100px);
}

.overlay {
  backdrop-filter: blur(7px);
  background: rgba(34, 13, 91, 0.23);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
